<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>智能课堂 —— 微博ajax接口测试 - www.zhinengshe.com</title>
<link href="style/weibo.css" rel="stylesheet" type="text/css"/>
    <script src="vue.js"></script>
    <script src="vue-resource.js"></script>
</head>
<body>
<div class="znsArea" id="box">
<!--留言-->
     <div class="takeComment">
        <textarea name="textarea" class="takeTextField" id="tijiaoText" v-model="t1" @keydown.enter.prevent="enterDown()"></textarea>
        <div class="takeSbmComment">
            <input type="button" class="inputs" value="" @click="addMsg()"/>
            <span>(可按 Enter 回复)</span>
        </div>
    </div>
<!--已留-->
    <div class="commentOn">
        <div class="noContent" v-show="myData.length==0">暂无留言</div>
        <div class="messList">
        	<div class="reply" v-for="item in myData">
                <p class="replyContent">{{item.content}}</p>
                <p class="operation">
                    <span class="replyTime">{{item.time}}</span>
                    <span class="handle">
                    	<a href="javascript:;" class="top" @click="accOnce(item.id)">{{item.acc}}</a>
                        <a href="javascript:;" class="down_icon" @click="refOnce(item.id)">{{item.ref}}</a>
                        <a href="javascript:;" class="cut" @click="delOnce(item.id)">删除</a>
                    </span>
                </p>
            </div>
        </div>
        <div class="page" >
        	<a href="javascript:;" v-for="item in pages"  @click="changePages(item)">{{item+1}}</a>
        </div>
    </div>
</div>
<script>
    var URL='weibo.php';
    new Vue({
        el:".znsArea",
        data:{
            t1:"",
            myData:[],
            pages:0
        },
        methods:{
            addMsg:function () {
                this.$http({
                    url:URL,
                    data:{
                        act:'add',
                        content:this.t1
                    }
                }).then(function (res) {
                    var msg = res.data;
                    this.myData.unshift({
                        content:this.t1,
                        id:msg.id,
                        time:msg.time,
                        acc:0,
                        ref:0
                    });
                    if(this.myData.length>6){
                        this.myData.pop();
                        this.getPages();

                    };
                    this.t1='';

                })
            },
            getOnePage:function (n) {
                this.$http({
                    url:URL,
                    data:{
                        act:'get',
                        page:n
                    }
                }).then(function (res) {
                    var arr=eval('('+res.data+')');
                    for (var i=0; i<arr.length; i++){
                        this.myData.push(arr[i])
                    };
                });
            },
            accOnce:function (id) {
                this.$http({
                    url:URL,
                    data:{
                        act:'acc',
                        id:id
                    }
                }).then(function (res) {
                    this.myData.forEach(function (a) {
                        if(a.id==id){
                            a.acc++;
                        }
                    })
                })
            },
            refOnce:function (id) {
                this.$http({
                    url:URL,
                    data:{
                        act:'ref',
                        id:id
                    }
                }).then(function (res) {
                    this.myData.forEach(function (a) {
                        if(a.id==id){
                            a.ref++;
                        }
                    })
                })
            },
            delOnce:function (id) {
                this.$http({
                    url:URL,
                    data:{
                        act:"del",
                        id:id
                    }
                }).then(function (res) {
                    this.getOnePage(1)
                });
            },
            getPages:function () {
                this.$http({
                    url:URL,
                    data:{
                        act:"get_page_count"
                    }
                }).then(function (res) {
                    this.pages=res.data.count;
                    console.log(this.pages)
                });
            },
            enterDown:function () {
                this.$http({
                    url:URL,
                    data:{
                        act:'add',
                        content:this.t1
                    }
                }).then(function (res) {
                    var msg = res.data;
                    this.myData.unshift({
                        content:this.t1,
                        id:msg.id,
                        time:msg.time,
                        acc:0,
                        ref:0
                    });
                    if(this.myData.length>6){
                        this.myData.pop();
                        this.getPages();

                    };
                    this.t1='';

                });
            },
            changePages:function (item) {
                this.$http({
                    url:URL,
                    data:{
//                        weibo.php?act=get&page=1		获取一页数据
//                    返回：[{id: ID, content: "内容", time: 时间戳, acc: 顶次数, ref: 踩次数}, {...}, ...]
                        act:"get",
                        page:(item+1)
                    }
                }).then(function (res) {
                    this.myData=eval('('+res.data+')');
                })
            }
        },
        ready:function () {
            this.getOnePage(1);
            this.getPages();
        }
    });
</script>
</body>
</html>

<!--weibo.php?act=get&page=1		获取一页数据-->
<!--返回：[{id: ID, content: "内容", time: 时间戳, acc: 顶次数, ref: 踩次数}, {...}, ...]-->